*{
    margin: 0;
    padding: 0;
  }
  .menu{
    display: none;
  }
  span{
    color: aqua;
  }

  /*main*/

  #main{
      width: 100%;
      height: 100vh;
      background-image: url(/img/portfolio-background111.png);
      background-size: cover;
      background-position: center;
  }
  
  nav{
    background-color: rgb(4, 4, 4);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      height: 120px;
      left: 0;
      right: 0;
      width: 100%;
  }
   
  nav ul li{
    padding-inline: 20px;
    display: inline-block;
    list-style: none;
  }
  
  nav ul li a{
      color:azure;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      font-weight:bolder;
  }
  
  nav .mylogo{
    transition: transform 0.3s ease; 
     width: 300px;
     height: 100px;
  }
  
  .mylogo:hover{
      transform: translateY(-10px);
  }
  
  nav ul li a:hover{
      border-radius: 10px;
      background: aqua;
      width: 100px;
      height: 100px;
      transition: 0.8s;
      color: black;
  }
  
  .hello{
      padding-top: 300px;
      padding-left: 150px;
  }
  
  .mainh1{
      font-family: 'Courier New', Courier, monospace;
      color: azure;
      font-size: 70px;
      font-weight: bold;
  }
  
  .b{
      margin-top: 50px;
      font-family: 'Courier New', Courier, monospace;
      color: azure;
      font-size: 50px;   
  }
 
  @media screen and (max-width: 1245px)
  {
    .mainh1{
      font-size: 50px;
    } 
    .b{
      font-size: 30px;
    }
    
  }
  @media (max-width: 1048px){

    nav a{
        font-size: 17px;
    }
}

 @media screen and (max-width: 747px){
  #main{
    width: 100%;
    height: 100vh;
    background: url(/img/portfolio-background11.png);
    background-size: cover;
    background-position: center;
  }
  .hello{
    padding: 0;
  }
  .mainh1{
    padding-left: 40px;
    padding-top: 300px;
    font-size: 40px;
  }

  .b{
    padding-left: 40px;
    font-size: 15px;
  }
  .fa-circle-xmark{
    display: block;
    font-size: 25px;
    color: rgb(83, 49, 49);
  }
  nav{
    width: 100%;
  }
  nav ul{
    background:black;
    position: fixed;
    top: 0;
    width: 200px;
    right: 0;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
  }
  nav ul li{
    display: block;
    color: rgb(253, 242, 242);
    margin: 20px;
  }
  nav ul .menu{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav .menu{
    display: block;
    color: aliceblue;
    margin-right: 20px;
    font-size: 30px;
  }
}
  @media screen and (max-width: 624px) 
  {
    #main{
      width: 650px;
      height: 900px;
    }

    .hello{
      padding-left: 20px;
    }
    .mainh1{
      font-size: 50px;
    }
    .b{
      font-size: 20px;
    }
    nav ul{
      height: 200vh;
    }
  }

  @media screen and (max-width: 413px)
  {
    #main{
      height: 1000px;
    }
    nav ul{
      height: 200vh;
    }
  }

/*About me*/

  #Aboutme{
    width: 100%;
    height: 110vh;
    background-image: url(/img/portfolio-background.png);
    background-size: cover;
    background-position: center;
  }

  .aboutmeh1{
    font-size: 40px;
  }

.container-aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-aboutme img{
    width: 60%;
    height: 60vh;
    border-radius: 1vh;
    overflow-x: hidden;
    }

  .img-aboutme{
    flex-basis: 35%;
    padding-top:100px;
    padding-left: 80px;
  }

  .aboutme{
    flex-basis: 60%;
  }
  
.h1{
    text-align: center;
    padding-top: 100px;
    color:azure;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}
 .aboutmeh2{
  padding-top: 100px;
  padding-bottom: 10px;
  color:azure;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
}

.aboutme li{
  padding: 9px;
  color:azure;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.aboutme p{
  padding-top: 70px;
  color:azure;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  line-height: 29px; 
}

@media screen and (max-width: 1024px)
{
.img-aboutme{
    padding-top: 100px;
    width: 100%;
    height: 65vh;
    border-radius: 10vh;
}
.aboutme p{
  font-size: 15px;
}
.aboutmeh2{
  padding-top: 30px;
  font-size: 20px;
}
.aboutme li{
  font-size: 15px;
}
}

@media screen and (max-width:870px){
  .img-aboutme{
    padding-left: 100px;
    height: 1vh;  
  }
}
@media screen and (max-width:743px){

  .img-aboutme{
    overflow: hidden;
    margin-top: 200px;
    padding: 20px;
    width: 300px;
    height: 60vh;
  }
  .img-aboutme img{
    width: 100%;
  } 
}

@media screen and (max-width:626px)
{
  #Aboutme{
    width: 650px;
    height: 120vh;
  }
  .container-aboutme{
    flex-direction: column;
  }
  .img-aboutme{
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-aboutme img{
    width: 100%;
    height: 50vh;
  }
  .aboutme{
    padding-left: 30px;
  }
  .aboutme p{
    padding-top: 0;
  }

}

/*education*/

#Education {  
    width: 100%;
    height: 100vh;
    background-image: url(/img/portfolio-background.png);
    background-size: cover;
    background-position: center;
}

.h1-education{
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    color:azure;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}
.container-education {
  display: flex;
  flex-wrap: wrap;
}

.Bagmati{ 
    display: flex;
    flex-direction: column;
    height:55vh;
    align-items: center;
    width: 33%;
    overflow-wrap:break-word;
}
.Bagmati img{
  padding-left: 70px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.Bagmati p{
    padding: 10px;
    color:azure;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.Galaxy {
    display: flex;
    flex-direction: column;
    height:55vh;
    align-items: center;
    width: 33%;
}
  
.Galaxy img{
    width: 260px;
    height: 300px;
    border-radius: 20px;
}
  
.Galaxy p{
    padding: 10px;
    color:azure;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

  .Herald {
    display: flex;
    flex-direction: column;
    height:55vh;
    align-items: center;
    width: 33%;
  }
  
  .Herald img {
    margin-bottom: 125px;
    padding-left: 70px;
    width: 300px;
    height: 300px;
  }
  .Herald p {
    padding: 10px;
    color:azure;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
  }

@media screen and (max-width: 1024px)
{
  .Bagmati{
    padding: 0;
  }
.Bagmati img{
    width: 150px;
    height: 150px;
  }
  .Bagmati p{
    font-size: 15px;
  }
  .Galaxy{
    padding: 0;
  }
.Galaxy img{
    width: 150px;
    height: 150px;
  }
  .Galaxy p{
    font-size: 15px;
  }
  .Herald img{
    width: 150px;
    height: 150px;
  }
  .Herald p{
    font-size: 15px;
  }
  .Herald{
    padding: 0;
  }
.h1-education
{
  padding-top: 100px;
  font-size: 20px;
}
}
@media screen and (max-width:743px)
{
  .Herald img{
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .Bagmati img{
    padding-left: 0px;
  }
}
@media screen and (max-width:626px)
{
  #Education{
    width: 650px;
  }
}
@media screen and (max-width:626px)
{
  .h1-education{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container-education{
    flex-direction: column;
    align-items: center;
  }
  .Bagmati, .Galaxy, .Herald{
    width: 100%;
    height: 55vh;
  }
  #Education{
    height: 185vh;
  }
  .Bagmati img{
    width: 50%;
    height: 40vh;
  }
  .Galaxy img{
    width: 50%;
    height: 40vh;
  }
  .Herald img{
    width: 50%;
    height: 40vh;
  }
}



/*hobbies*/

#Hobbies{
    width: 100%;
    height: 110vh;
    background-image: url(/img/portfolio-background.png);
    background-size: cover;
    background-position: center;
}

.h1-hobbies{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color:azure;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;

}
  .container-hobbies1{
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .h{
    display: inline-block;
    width: 30%;
    margin: 30px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color:azure;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  @media screen and (max-width: 1024px) 
  {
    .h1-hobbies{
      font-size: 25px;
    } 
    
    .h{
      font-size: 15px;
    }

  }
  @media screen and (max-width:743px)
  {
    .h{
      font-size: 10px;
    }
    #Hobbies{
      height: 90vh;
    }
  }
  @media screen and (max-width:626px)
{
  #Hobbies{
    width: 650px;
  }
}
@media screen and (max-width:626px){
  #Hobbies{
    height: 135vh;
  }
  .container-hobbies1{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .h{
    font-size: 15px;
  }

}
/*Contact*/

#Contact{
  width: 100%;
  height: 90vh;
  background-image: url(/img/portfolio-background.png);
  background-size: cover;
  background-position: center;
}

.h1-contact{
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  color:azure;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
}

.container-contactme{
  width: 100%;
  height: 50vh;
}

.input{
  padding: 20px;
  display:flex;
  justify-content: center;
}

.box{
  width: 400px;
  height: 50px;
  border-radius: 10px;
}

::placeholder{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.button{
  display: flex;
  justify-content: center;
  padding-left: 300px;
}

.button a {
  font-family: 'Chivo Mono', monospace;
  display: inline-block;
  padding: 10px 50px;
  background:rgb(29, 197, 197);
  border-radius: 10px;
  text-decoration: none;
  color: rgb(249, 237, 237);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color: rgb(244, 242, 239);
}

.fa-regular{
  color:aqua;
}

.fa-solid{
  color:aqua;
}
@media screen and (max-width: 1024px){
  #Contact{
    width: 100%;
    height: 100vh;
    background-image: url(/img/portfolio-background.png);
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width:626px)
{
  #Contact{
    width: 650px;
    height: 80vh

  }
}

@media screen and (max-width: 412px)
{
  #Contact{
    height: 70vh;
  }
}

/*refrences*/

#references{
  width: 100%;
  height: 28vh;
  background-image: url(/img/references.png);
  background-size: cover;
  background-position: center;
}
.references-container{
margin-left: 50px;
color:azure;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
list-style-type: none;
}
.references-h1{
color:azure;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
font-weight:bold;
padding: 20px;
}
@media screen and (max-width:743px)
{
 #references{
    height: 35vh;
  }
}
@media screen and (max-width:626px)
{
  #references{
    width: 650px;
    height: 30vh;
  }
}
@media screen and (max-width: 413px)
{
  #references{
    height: 30vh;
  }
}


/*fotter*/

footer{
  position: relative;
  width: 100%;
  height: 20vh;
  background: url(/img/footer.jpg);
  display: flex;
  align-items: center;
  align-content: center;

}

.fa-github{
  color: rgb(8, 8, 8);
}

.fa-linkedin{
  color: rgb(8, 8, 8);
}
.fa-instagram{
  color: rgb(8, 8, 8);
}
.fa-facebook{
  color: rgb(8, 8, 8);
}
footer .social_icon{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

footer .social_icon li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 2em;
  color: black;
  margin: 0 10px;
}
@media screen and (max-width: 747px){
  footer{
    width: 100%;
  }
}
@media screen and (max-width:626px)
{
  footer{
    width: 650px;
  }
}
@media screen and (max-width: 413px)
{
  footer{
    background-image: url(/img/footerresposive.jpg);
    height: 40vh;
  }
}