*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
   
}
.nav{
    height:100vh;
    width:100%;
    background-image: url(4907157.jpg);
    background-position: center;
    background-size: cover;
    font-size: 4vh;

}
.logo{
    font-size: 28px;
    color:rgb(74, 77, 64);
}

span{
    color: pink;
}

nav ul .list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
nav ul .list a{
    text-decoration: none;
    color:black ;
    padding:40px 10px;
    font-size:20px;
}
nav ul .list a:hover{
    color: aqua;
}
button{
    background-color: burlywood;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 10px 10px;
    font-weight: bold;


}

button:hover{
    background-color: bisque;
}